/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
.nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:fixed;
    margin-top:-20px;
    height:40px;
    width:100%;
    align-items:center;
}

.nav li {
    
    margin-top:30px;
    display: inline;
    margin-right: 20px;
}

.nav li a {
    text-align:center;
    margin-top:30px;
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    color: #ffd700;
}

/* Container styles */
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Education section styles */
.education {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education img {
    float:left;
    margin-top:40px;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    
}

.education h1 {

    font-size: 2em;
    margin-bottom: 20px;
}

.education p {
    font-size: 1.1em;
    line-height: 1.8;
}

/* Footer styles */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left:-156px
}
