/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    background-color:black;
    width:100%;
    height:30px;
    z-index: 1;
    margin-top:-20px;
   
}

.nav {
    list-style-type: none;
  
}

.nav li {
    display: inline-block;
    margin: 0 10px;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
}
#y{
    margin-top:0.1px;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

span {
    color: chocolate;
    font-size: 25px;
}
.about,
.interest,
.contact {
    background-color: #fff;
    padding: 50px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h1,
.interest h1,
.contact h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.about p,
.interest p,
.contact p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #666;
}

.about img,
.index img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.index h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.index p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li:last-child {
    margin-bottom: 0;
}

/* Additional Styles for Beauty */

.about,
.interest,
.contact {
    transition: transform 0.3s ease;
}

.about:hover,.education:hover
.interest:hover,
.contact:hover {
    transform: translateY(-5px);
}

.about img,
.index img {
    transition: transform 0.3s ease;
}

.about img:hover,
.index img:hover {
    transform: scale(1.1);
}

footer {
    transition: background-color 0.3s ease;
}

footer:hover {
    background-color: #555;
}
.education{
    transition: transform 0.3s ease;
    height:400px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    list-style-type: none;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}
.education p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.interest img{
    margin-top:60px;
    max-width:600px;
    height:250px;
    float:left;
    border-radius: 10px;
}
.education img{
    margin-top:60px;
   width:100px;
   height:200px;
    float:left;
    border-radius: 10px;
}
